<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Modelo</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/carmodel/registrar}" method="post" th:object="${carmodel}">
				<div class="form-group">
					
					<label for="idbrand">ID:</label> 
					<input type="text" class="form-control" th:field="*{idCarModel}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameCarModel}" class="form-control" id="nombre"
						placeholder="Ingrese el nombre del Modelo de Carro"
						required minlength="3" maxlength="30" 
									title="Ingresar nombre del Modelo de Carro">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameCarModel')}" 
							th:errors="*{nameCarModel}">
						</div>
						
						<label for="marca" class=" col-sm-2 col-form-label">Marca: </label>
					<select
						class="form-control" th:field="*{brand.idBrand}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="b: ${listaMarcas}" th:value="${b.idBrand}"
							th:text="${b.nameBrand}"
							th:selected="(${b.idBrand} == *{brand.idBrand})"></option>
					</select>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/carmodel/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
