<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<div class="container">
			<form th:action="@{/carmodel/registrar}" method="post" th:object="${carmodel}">
				<div class="form-group">
					
					<label for="idbrand">ID:</label> 
					<input type="text" class="form-control" th:field="*{idCarModel}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameCarModel}" class="form-control" id="nombre"
						placeholder="Ingrese el nombre del Modelo de Carro"
						required minlength="3" maxlength="30" 
									title="Ingresar nombre del Modelo de Carro">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameCarModel')}" 
							th:errors="*{nameCarModel}">
						</div>
						
						<label for="marca" class=" col-sm-2 col-form-label">Marca: </label>
					<select
						class="form-control" th:field="*{brand.idBrand}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="b: ${listaMarcas}" th:value="${b.idBrand}"
							th:text="${b.nameBrand}"
							th:selected="(${b.idBrand} == *{brand.idBrand})"></option>
					</select>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/carmodel/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
	
</html>
