<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<div class="container">
			<form th:action="@{/color/registrar}" method="post" th:object="${color}">
				<div class="form-group">
					
					<label for="idcolor">ID:</label> 
					<input type="text" class="form-control" th:field="*{idColor}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameColor}" class="form-control" id="nombre"
						placeholder="Ingrese el nombre del Color"
						required minlength="3" maxlength="20"  
									title="Ingresar nombre del Color">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameColor')}" 
							th:errors="*{nameColor}">
						</div>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/color/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
	
</html>
