<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Departamento</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script type="text/javascript" th:src="@{/js/department.js}"></script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/department/registrar}" method="post" th:object="${department}">
				<div class="form-group">
					
					<label for="iddepartment">ID:</label> 
					<input type="text" class="form-control" th:field="*{idDepartment}" ></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameDepartment}" class="form-control" id="nombre" placeholder="Ingrese el nombre del Departamento"
						required minlength="3" maxlength="30" 
									title="Ingresar nombre del Departamento">
						</input>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/department/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
