<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">	
		<div class="container">
			<form th:action="@{/department/registrar}" method="post" th:object="${department}">
				<div class="form-group">
					
					<label for="iddepartment">ID:</label> 
					<input type="text" class="form-control" th:field="*{idDepartment}" ></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameDepartment}" class="form-control" id="nombre" placeholder="Ingrese el nombre del Departamento"
						required minlength="3" maxlength="30" 
									title="Ingresar nombre del Departamento">
						</input>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/department/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
		<footer th:replace="layout/layout :: footer"></footer>

	</body>
	
</html>
