<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<div class="container">
			<form th:action="@{/district/registrar}" method="post" th:object="${district}">
				<div class="form-group">
					
					<label for="idprovince">ID:</label> 
					<input type="text" class="form-control" th:field="*{idDistrict}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameDistrict}" class="form-control" id="nombre" 
						placeholder="Ingrese el nombre del Distrito"
						required minlength="3" maxlength="30" 
									title="Ingresar nombre del Distrito"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameDistrict')}" 
							th:errors="*{nameDistrict}">
						</div>
						
						<label for="provincia" class=" col-sm-2 col-form-label">Provincia: </label>
					<select
						class="form-control" th:field="*{province.idProvince}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="p: ${listaProvincias}" th:value="${p.idProvince}"
							th:text="${p.nameProvince}"
							th:selected="(${p.idProvince} == *{province.idProvince})"></option>
					</select>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/district/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
	
</html>
