<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Licencia</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/licencia/registrar}" method="post" th:object="${licencia}">
				<div class="form-group">
					
					<label for="idlicencia">ID:</label> 
					<input type="text" class="form-control" th:field="*{idLicencia}"
					placeholder="Ingrese el ID de la Licencia"
						required minlength="11" maxlength="11"
									title="Ingresar ID de la Licencia">
					</input>
					
					<div class="form-group">
					
						<label for="usuario" class=" col-sm-2 col-form-label">USUARIO: </label>
					<select
						class="form-control" th:field="*{usuario.idUsuario}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="u: ${listaUsuarios}" th:value="${u.idUsuario}"
							th:text="${u.nameUsuario}"
							th:selected="(${u.idUsuario} == *{usuario.idUsuario})"></option>
					</select>
					
					
						<label 	for="clase">CLASE:</label> 
						<select
									th:field="*{claseLicencia}" class="form-control"
									th:errorclass="'form-control alert-danger'">
									<option value="">Selecciona una Clase</option>
									<option value="A1">A1</option>
									<option value="A2">A2</option>
									<option value="B1">B1</option>
									<option value="B2">B2</option>
									<option value="C1">C1</option>
									<option value="C2">C2</option>
									<option value="C3">C3</option>
								</select>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('claseLicencia')}" 
							th:errors="*{claseLicencia}">
						</div>
						
						<label for="fechaExpedicion">EXPEDICION:</label> <input
						type="date" th:field="*{expedicionLicencia}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expedicionLicencia')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expedicionLicencia}"></div>
						
						<label for="fechaExpiracion">EXPIRACION:</label> <input
						type="date" th:field="*{expiracionLicencia}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expiracionLicencia')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expiracionLicencia}"></div>
						
						
						<label 	for="restriccion">RESTRICCION:</label> 
						<select
									th:field="*{restriccionLicencia}" class="form-control"
									th:errorclass="'form-control alert-danger'">
									<option value="">Selecciona una Restriccion</option>
									<option value="lentes">Lentes</option>
									<option value="compañia">Compañia</option>
									<option value="ninguna">Ninguna</option>
									<option value="espejos">Espejos</option>
								</select>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('restriccionLicencia')}" 
							th:errors="*{restriccionLicencia}">
						</div>

						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/licencia/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
