<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Licencia</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

	</head>
	
	<body>
	
		<div th:replace="fragments/headerusuario :: header"></div>
		
		<div class="container">
			<form th:action="@{/licencia/registrar}" method="post" th:object="${licencia}">
				<div class="form-group">
					
					<label for="idlicencia">ID:</label> 
					<input type="text" class="form-control" th:field="*{idLicencia}"></input>
					
					<div class="form-group">
					
						<label for="usuario" class=" col-sm-2 col-form-label">USUARIO: </label>
					<select
						class="form-control" th:field="*{usuario.idUsuario}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="u: ${listaUsuarios}" th:value="${u.idUsuario}"
							th:text="${u.nameUsuario}"
							th:selected="(${u.idUsuario} == *{usuario.idUsuario})"></option>
					</select>
					
					
						<label 	for="clase">CLASE:</label> 
						<input type="text" th:field="*{claseLicencia}" class="form-control" id="clase"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('claseLicencia')}" 
							th:errors="*{claseLicencia}">
						</div>
						
						<label 	for="categoria">CATEGORIA:</label> 
						<input type="text" th:field="*{categoriaLicencia}" class="form-control" id="categoria"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('categoriaLicencia')}" 
							th:errors="*{categoriaLicencia}">
						</div>
						
						<label for="fechaExpedicion">EXPEDICION:</label> <input
						type="date" th:field="*{expedicionLicencia}" class="form-control"
						id="fechaExpedicion"></input>
						<!-- th:errors Se encarga del manejo de errores -->
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('expedicionLicencia')}"
						th:errors="*{expedicionLicencia}"></div>
						
						<label for="fechaExpiracion">EXPIRACION:</label> <input
						type="date" th:field="*{expiracionLicencia}" class="form-control"
						id="fechaExpiracion"></input>
						<!-- th:errors Se encarga del manejo de errores -->
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('expiracionLicencia')}"
						th:errors="*{expiracionLicencia}"></div>
						
						
						<label 	for="restriccion">RESTRICCION:</label> 
						<input type="text" th:field="*{restriccionLicencia}" class="form-control" id="restriccion"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('restriccionLicencia')}" 
							th:errors="*{restriccionLicencia}">
						</div>

						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/licencia/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
