<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<STYLE type="text/css">
  				td { text-align: center}
  				td { text-align: center}
		</STYLE>

		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						
						<a  sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DRIVER')" style="border-bottom-color: green" th:href="@{/polarizado/irRegistrar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-plus" ></span> Tarjeta
						</a>
						
						<a  sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_POLICE')" style="border-bottom-color: green" th:href="@{/polarizado/comoBuscar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-search" ></span> Buscar
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">PERMISO POLARIZADO</th>
									<th class="text-center">VEHICULO</th>
									<th class="text-center">MODELO</th>
									<th class="text-center">MOTOR</th>
									<th class="text-center">SERIE</th>
									<th class="text-center">FECHA EXPEDICION</th>
									<th class="text-center">FECHA EXPIRACION</th>
									<th sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DRIVER')" class="text-center">OPERACIÓN</th>
									<th sec:authorize="hasRole('ROLE_MANAGER')" class="text-center">OPERACIÓN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="po: ${listaPolarizados}">
									<td th:text="${po.idPolarizado}"></td>
									<td th:text="${po.vehiculo.placaVehiculo}"></td>
									<td th:text="${po.vehiculo.carmodel.nameCarModel}"></td>
									<td th:text="${po.motorPolarizado}"></td>
									<td th:text="${po.seriePolarizado}"></td>
									<td th:text="${#dates.format(po.expedicionPolarizado,'dd/MM/yyyy')}"></td>
									<td th:text="${#dates.format(po.expiracionPolarizado,'dd/MM/yyyy')}"></td>
									
									<td><a sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DRIVER')" th:href="@{'/polarizado/modificar/' + ${po.idPolarizado}}"class="btn btn-primary btn-sm center"> <span
							class="glyphicon glyphicon-pencil" ></span> Modificar </a></td>
									<td><a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/polarizado/eliminar?id=}+${po.idPolarizado}"class="btn btn-danger btn-sm center"> <span
							class="glyphicon glyphicon-remove" ></span> Eliminar </a></td> 
									 
								</tr>
							</tbody>
						</table>
											
					</div>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>
