<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<STYLE type="text/css">
  				td { text-align: center}
  				td { text-align: center}
		</STYLE>

		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						
						<a  sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DRIVER')" style="border-bottom-color: green" th:href="@{/seguro/irRegistrar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-plus" ></span> Seguro
						</a>
						
						<a  sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_POLICE')" style="border-bottom-color: green" th:href="@{/seguro/comoBuscar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-search" ></span> Buscar
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">SEGURO</th>
									<th class="text-center">USUARIO</th>
									<th class="text-center">VEHICULO</th>
									<th class="text-center">MODELO</th>
									<th class="text-center">PRIMA</th>
									<th class="text-center">FECHA EXPEDICION</th>
									<th class="text-center">FECHA EXPIRACION</th>
									<th sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DRIVER')" class="text-center">OPERACIÓN</th>
									<th sec:authorize="hasRole('ROLE_MANAGER')" class="text-center">OPERACIÓN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="se: ${listaSeguros}">
									<td th:text="${se.idSeguro}"></td>
									<td th:text="${se.usuario.nameUsuario}"></td>
									<td th:text="${se.vehiculo.placaVehiculo}"></td>
									<td th:text="${se.vehiculo.carmodel.nameCarModel}"></td>
									<td th:text="${se.montoSeguro}"></td>
									<td th:text="${#dates.format(se.expedicionSeguro,'dd/MM/yyyy')}"></td>
									<td th:text="${#dates.format(se.expiracionSeguro,'dd/MM/yyyy')}"></td>
									
									<td><a sec:authorize="hasRole('ROLE_MANAGER') or hasRole('ROLE_DRIVER')" th:href="@{'/seguro/modificar/' + ${se.idSeguro}}"class="btn btn-primary btn-sm center"> <span
							class="glyphicon glyphicon-pencil" ></span> Modificar </a></td> 
									<td><a sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/seguro/eliminar?id=}+${se.idSeguro}"class="btn btn-danger btn-sm center"> <span
							class="glyphicon glyphicon-remove" ></span> Eliminar </a></td> 
									
								</tr>
							</tbody>
						</table>
											
					</div>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>
