<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<STYLE type="text/css">
  				td { text-align: center}
  				td { text-align: center}
		</STYLE>

		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column" >
						
						<a  style="border-bottom-color: green" th:href="@{/color/irRegistrar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-plus" ></span> Color
						</a>
						
						<a  style="border-bottom-color: green" th:href="@{/color/irBuscar}" id="add-row" 
							type="button"
							class="btn btn-primary btn-md left-block"> <span
							class="glyphicon glyphicon-search" ></span> Buscar
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">CODIGO</th>
									<th class="text-center">COLOR</th>
									<th class="text-center">OPERACIÓN</th>
									<th class="text-center">OPERACIÓN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="col: ${listaColores}">
									<td th:text="${col.idColor}"></td>
									<td th:text="${col.nameColor}"></td>
									<td><a th:href="@{/color/eliminar?id=}+${col.idColor}"class="btn btn-danger btn-sm center"> <span
							class="glyphicon glyphicon-remove" ></span> Eliminar </a></td> 
									<td><a th:href="@{'/color/modificar/' + ${col.idColor}}"class="btn btn-primary btn-sm center"> <span
							class="glyphicon glyphicon-pencil" ></span> Modificar </a></td> 
								</tr>
							</tbody>
						</table>
											
					</div>
				</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
</html>
