<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Polarizado</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/polarizado/registrar}" method="post" th:object="${polarizado}">
				<div class="form-group">
					
					<label for="idpolarizado">ID:</label> 
					<input type="text" class="form-control" th:field="*{idPolarizado}"
					placeholder="Ingrese el ID del Polarizado"
						required minlength="11" maxlength="11"
									title="Ingresar ID del Polarizado"></input>
					
					<div class="form-group">
					
						<label for="vehiculo" class=" col-sm-2 col-form-label">VEHICULO: </label>
					<select
						class="form-control" th:field="*{vehiculo.idVehiculo}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" --
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="v: ${listaVehiculos}" th:value="${v.idVehiculo}"
							th:text="${v.placaVehiculo}"
							th:selected="(${v.idVehiculo} == *{vehiculo.idVehiculo})"></option>
					</select>
						
						<label 	for="motor">MOTOR:</label> 
						<input type="text" th:field="*{motorPolarizado}" class="form-control" id="motor"
						placeholder="Ingrese el motor del Polarizado"
						required minlength="10" maxlength="10"
									title="Ingresar motor del Polarizado">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('motorPolarizado')}" 
							th:errors="*{motorPolarizado}">
						</div>
						
						<label 	for="serie">SERIE:</label> 
						<input type="text" th:field="*{seriePolarizado}" class="form-control" id="serie"
						placeholder="Ingrese la serie del Polarizado"
						required minlength="10" maxlength="10"
									title="Ingresar la serie del Polarizado">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('seriePolarizado')}" 
							th:errors="*{seriePolarizado}">
						</div>
						
						<label for="fechaExpedicion">EXPEDICION:</label> <input
						type="date" th:field="*{expedicionPolarizado}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expedicionPolarizado')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expedicionPolarizado}"></div>
						
						<label for="fechaExpiracion">EXPIRACION:</label> <input
						type="date" th:field="*{expiracionPolarizado}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expiracionPolarizado')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expiracionPolarizado}"></div>

						
						
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/polarizado/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
