<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		
		<div class="container">
			<form th:action="@{/province/registrar}" method="post" th:object="${province}">
				<div class="form-group">
					
					<label for="idprovince">ID:</label> 
					<input type="text" class="form-control" th:field="*{idProvince}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameProvince}" class="form-control" id="nombre"
						placeholder="Ingrese el nombre de la Provincia"
						required minlength="3" maxlength="30" 
									title="Ingresar nombre de la Provincia">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameProvince')}" 
							th:errors="*{nameProvince}">
						</div>
						
						<label for="departamento" class=" col-sm-2 col-form-label">Departamento: </label>
					<select
						class="form-control" th:field="*{department.idDepartment}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="d: ${listaDepartamentos}" th:value="${d.idDepartment}"
							th:text="${d.nameDepartment}"
							th:selected="(${d.idDepartment} == *{department.idDepartment})"></option>
					</select>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/province/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
	
</html>
