<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		
		<meta charset="ISO-8859-1"></meta>
		
		<title>Provincia</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		
		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">
		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

	</head>
	
	<body>
	
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/province/registrar}" method="post" th:object="${province}">
				<div class="form-group">
					
					<label for="iddepartment">ID:</label> 
					<input type="text" class="form-control" th:field="*{idProvince}"></input>
					
					<div class="form-group">
					
						<label 	for="nombre">NOMBRE:</label> 
						<input type="text" th:field="*{nameProvince}" class="form-control" id="nombre"></input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nameProvince')}" 
							th:errors="*{nameProvince}">
						</div>
						
						<label for="departamento" class=" col-sm-2 col-form-label">Departamento: </label>
					<select
						class="form-control" th:field="*{department.idDepartment}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" -->
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="d: ${listaDepartamentos}" th:value="${d.idDepartment}"
							th:text="${d.nameDepartment}"
							th:selected="(${d.idDepartment} == *{department.idDepartment})"></option>
					</select>
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/province/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	
		<div th:replace="fragments/footer :: footer"></div>

	</body>
	
</html>
