<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		
		<div class="container">
			<form th:action="@{/seguro/registrar}" method="post" th:object="${seguro}">
				<div class="form-group">
					
					<label for="idseguro">ID:</label> 
					<input type="text" class="form-control" th:field="*{idSeguro}"
					placeholder="Ingrese el ID del Seguro"
						required minlength="11" maxlength="11"
									title="Ingresar ID del Seguro"></input>
					
					<div class="form-group">
					
						<label for="usuario" class=" col-sm-2 col-form-label">USUARIO: </label>
					<select
						class="form-control" th:field="*{usuario.idUsuario}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" --
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="u: ${listaUsuarios}" th:value="${u.idUsuario}"
							th:text="${u.nameUsuario}"
							th:selected="(${u.idUsuario} == *{usuario.idUsuario})"></option>
					</select>
					
						<label for="vehiculo" class=" col-sm-2 col-form-label">VEHICULO: </label>
					<select
						class="form-control" th:field="*{vehiculo.idVehiculo}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" --
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="v: ${listaVehiculos}" th:value="${v.idVehiculo}"
							th:text="${v.placaVehiculo}"
							th:selected="(${v.idVehiculo} == *{vehiculo.idVehiculo})"></option>
					</select>
						
						<label 	for="monto">MONTO:</label> 
						<input type="text" th:field="*{montoSeguro}" class="form-control" id="monto"
						placeholder="Ingrese el monto de la prima del Seguro"
						required minlength="2" maxlength="3" pattern="[0-9]"
									title="Ingresar la prima del seguro">
						</input>
	
						<div class="alert alert-danger" th:if="${#fields.hasErrors('montoSeguro')}" 
							th:errors="*{montoSeguro}">
						</div>
						
						<label for="fechaExpedicion">EXPEDICION:</label> <input
						type="date" th:field="*{expedicionSeguro}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expedicionSeguro')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expedicionSeguro}"></div>
						
						<label for="fechaExpiracion">EXPIRACION:</label> <input
						type="date" th:field="*{expiracionSeguro}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expiracionSeguro')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expiracionSeguro}"></div>

						
						
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/seguro/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
	
</html>
