<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		
		<div class="container">
			<form th:action="@{/soat/registrar}" method="post" th:object="${soat}">
				<div class="form-group">
					
					<label for="idsoat">ID:</label> 
					<input type="text" class="form-control" th:field="*{idSoat}"
					placeholder="Ingrese el ID del SOAT"
						required minlength="9" maxlength="9"
									title="Ingresar ID del SOAT">
					</input>
					
					<div class="form-group">
					
						<label for="usuario" class=" col-sm-2 col-form-label">USUARIO: </label>
					<select
						class="form-control" th:field="*{usuario.idUsuario}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" --
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="u: ${listaUsuarios}" th:value="${u.idUsuario}"
							th:text="${u.nameUsuario}"
							th:selected="(${u.idUsuario} == *{usuario.idUsuario})"></option>
					</select>
					
						<label for="vehiculo" class=" col-sm-2 col-form-label">VEHICULO: </label>
					<select
						class="form-control" th:field="*{vehiculo.idVehiculo}">
						<!-- th:each Itera los elementos de un arreglo -->
						<!-- sintaxis th:each="Variable: ${Lista}" --
						<!-- th:value Establece el value de la seleccion -->
						<!-- sintaxis th:value="${Variable.Atributo}" -->
						<option th:each="v: ${listaVehiculos}" th:value="${v.idVehiculo}"
							th:text="${v.placaVehiculo}"
							th:selected="(${v.idVehiculo} == *{vehiculo.idVehiculo})"></option>
					</select>
						
						<label for="fechaExpedicion">EXPEDICION:</label> <input
						type="date" th:field="*{expedicionSoat}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expedicionSoat')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expedicionSoat}"></div>
						
						<label for="fechaExpiracion">EXPIRACION:</label> <input
						type="date" th:field="*{expiracionSoat}" class="form-control"
						placeholder="Ingrese el año de expedicion" th:classappend="${#fields.hasErrors('expiracionSoat')} ? 'is-invalid' : ''"
						></input>
						<div class="invalid-feedback" th:errors="*{expiracionSoat}"></div>

						
						
						
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-success"> <span
							class="glyphicon glyphicon-floppy-saved" ></span>  Aceptar</button>
				<a href="/soat/listar" class="btn btn-danger"><span
							class="glyphicon glyphicon-floppy-remove" ></span>  Cancelar</a>
			</form>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	</body>
	
</html>
