<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
	
		<meta charset="UTF-8"></meta>
		<title>iDriver</title>
		
		<script type="text/javascript"
				src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="//code.jquery.com/jquery-1.11.1.min.js">
		</script>
		
	</head>
	
	<body>
	
		<body>
		
		<STYLE type="text/css">
				h1 { text-align: center}
				h1 { font-size: 40px}
				h1 { color:red;}
				h2 { text-align: center}
				h2 { font-style: italic}
  				a { text-align: center}
		</STYLE>
		
    <h1>Elige una opción para ingresar</h1>
    <h2>Usuario o Administrador</h2>

    <div id="main" class="container">     
      <a href="/home/bienvenido" class="btn btn-outline-primary center-block "> <img width="300" height="300" th:src="@{/imagenes/usuario.png}">  </a>
      
      <a href="/home/bienvenidoadmin" class="btn btn-outline-success center-block "> <img width="300" height="300" th:src="@{/imagenes/admin.png}">  </a>
      
    </div>

  </body>
		<div th:replace="fragments/footer :: footer"></div>

	</body>

</html>
